.react-select__control {
  border: none;
  cursor: pointer;
}

.react-select__option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-desc-text);
}
.react-select__placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text);
}
.react-select__menu {
  z-index: 100;
}
.react-select__input {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  color: var(--color-desc-text);
  align-items: center;
}
