.filtersBlock {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: 56px;
  justify-content: center;
}
.content {
  margin-bottom: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 204px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  border: none;

  color: var(--color-desc-text);
}

.milesBlock,
.inputLabelMiles {
  display: flex;
  flex-direction: row;
}
.milesBlock {
  background-color: var(--bg-color-selector);
  gap: 24px;
  border-radius: 12px 0 0 12px;
}

.inputLabelMiles {
  width: 160px;
  height: 44px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  border: none;
}
.inputLabelMilesMin {
  padding-left: 24px;
  border-right: 1px solid var(--color-border-input);
}
.labelMiles {
  width: 320px;

  flex-direction: column;
}
.inputMiles {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text);
  background-color: var(--bg-color-selector);
}

.brandSelect {
  width: 100%;
  max-height: 200px;
}

.btn {
  padding: 12px 51px;
  cursor: pointer;
  display: block;
  height: 44px;
}
