.rentalConditions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.rentalConditionsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.rentalConditionsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-text);
  margin-bottom: 20px;
}
.rentaConditionText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text);
}
