:root {
  /* Fonts */
  --font-1: "Manrope", sans-serif;
  --font-2: "Inter", sans-serif;

  /* Font sizes */
  --font-size-base: 16px;
  --font-size-btn: 16px;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-semiBold: 700;

  /* Colors */
  --color-primary: #fff;
  --color-text: #101828;
  --color-desc-text: #8d929a;
  --color-border-input: #dadde1;

  /* Backgrounds */
  --bg-color-btn: #3470ff;
  --bg-color-active-btn: #0b44cd;
  --bg-color-selector: #f7f7f7;
}
/*======================*/
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}
body {
  font-family: var(--font-1);
  line-height: 1.5;
  margin: 0;
  height: 100%;
  background: var(--color-primary);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: block;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  border-style: none;
}

.button:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}
.container {
  padding-left: 120px;
  padding-right: 120px;
}
.btn {
  border: none;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--bg-color-btn);
  color: var(--color-primary);
  outline: none;
}
.btn:hover {
  background-color: var(--bg-color-active-btn);
}
.isOpen {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}
.isClose {
  transition: transform 0.5s ease;
}
